export(as.character.asciiruler)
export(asciiruler)
export(cat)
export(cat.asciiruler)
export(cat.default)
export(default.asciiruler)
export(genbank_seqblock)
export(print.asciiruler)
export(width)
export(width.asciiruler)
import(stringr)
